.vial {
  position: relative;
  border: 6px solid #aaa;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
  margin: 0 auto 2rem;
  padding-top: 1rem;
}

@media only screen and (max-width: 400px) {
  .vial {
    border-width: 5px;
  }
}

.vial:after {
  border: 4px solid #aaa;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  border-top-color: transparent;
  transition: all 0.2s;
  content: '';
}

.vial:hover {
  border-color: white;
}

.vial:hover:after {
  border-color: white;
  border-top-color: transparent;
}

.vial--selected {
  transform: translateY(-1rem);
}

.vial-liquid {
  padding: 1rem;
}

@media only screen and (max-width: 400px) {
  .vial-liquid {
    padding: 0.875rem;
  }
}
